@import 'utils/variables';
@import 'components/type';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.section--main{
    margin: 24px 24px 24px 24px;
}

.header__logo{
    width: 7em;
}
.header{
    margin: 24px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.title{
    color: black;
    font-size: 32px;
    font-weight: 800;
}
.title--violet{
    color: #8800FF;
}
.introduction{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.introduction__image{
    max-width: 40%;
    right: 0px;
}
.introduction + p{
    margin-top: 20px;
    max-width: 30ch;
}
.button-download{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.button-download img{
    max-width: 30%;
}
.description{
    background: #8800FF;
    color: white;
    clip-path: polygon(0% 10vh, 100% 0%, 100% 100%, 0% calc(100% - 10vh));
    margin-top: 10vh;
    padding: 120px 0;
}
.description p{
    padding: 24px 24px 24px 24px;
    text-align: center;
    font-size: 18px;
}





@media (min-width: 1000px){

    .header{
        margin: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


}






@media (min-width: 1600px){
    body{
        font-family: 'Open Sans', sans-serif;
    }
    

}
























.bouton {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
   
.bouton input {
    opacity: 0;
    width: 0;
    height: 0;
}
   
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8800FF;
    transition: .4s;
    border-radius: 30px;
}
   
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: .4s;
}
   
input:checked + .slider {
    background-color: #8800FF;
}
   
input:focus + .slider {
    box-shadow: 0 0 1px rgb(0,221,80);
}
   
input:checked + .slider:before {
    transform: translateX(1.5em);
}